@import url('http://fonts.cdnfonts.com/css/d-din');

@font-face {
    font-family: "d-din";
    src: url("fonts/D-DIN-Bold.otf");
    src: url("fonts/D-DIN-Italic.otf");
    src: url("fonts/D-DINExp.otf");
    src: url("fonts/D-DINCondensed.otf");
    src: url("fonts/D-DINCondensed-Bold.otf");
    src: url("fonts/D-DINExp-Italic.otf");
    src: url("fonts/D-DIN.otf");
}

* {
    font-family: 'D-DIN Condensed', sans-serif;
    font-family: 'D-DIN Exp', sans-serif;
    font-family: 'D-DIN', sans-serif;
    font-family: d-din;
}


/* ----------------============== banner ==============-------------------------- */

.banner-container {
    min-height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 100%;
    z-index: -33;
}

.banner {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    z-index: -33;
}

.banner-title {
    font-size: 3rem;
    line-height: 1.2;
    z-index: -33;
}

.banner-title span {
    color: white;
    z-index: -33;
}

.banner p {
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 300;
    word-spacing: 2px;
    z-index: -33;
}

.banner1 {
    display: none;
}

@media screen and (max-width: 1100px) {
    .banner1 {
        display: block;
    }

    .banner2 {
        display: none;
    }
}


/* ----------------============== end of banner ==============-------------------------- */


/* ----------------============== mission and vision ==============-------------------------- */

.box_container {
    position: relative;
    background-color: black;
    padding: 70px 0;
}

.box_container .about_bottom {
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 2rem;
    z-index: 2;
    border-radius: 10px;
}

.box_container .about_bottom .about_content {
    color: white;
    font-size: 18px;
    font-family: 'D-DIN', sans-serif;
    font-family: d-din;
    text-align: left;
    text-transform: none;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.box_container .about_bottom .about_mission {
    text-align: center;
    margin-top: 40px;
}

.vision_header,
.mission_header {
    color: white;
    font-family: 'D-DIN', sans-serif;
    font-family: d-din;
    padding: 20px 0;
    font-weight: bold;
    text-align: left;
}

.vision .header,
.vision_content,
.mission .header,
.mission_content {
    color: white;
    font-family: 'D-DIN', sans-serif;
    font-family: d-din;
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-align: left;
}


/* media query */

@media screen and (max-width: 768px) {
    .box_container {
        padding: 20px 0;
    }

    .box_container .about_bottom .about_mission {
        margin-top: 20px;
    }
}


/* ----------------============== mission and vision end ==============-------------------------- */


/* -------------------------------------=staff----------------------------------------- */


/*========================= bord of directors =========================*/

.staff {
    display: inline-block;
    background-color: black;
    width: 100%;
    padding: 0 100px;
}

.staff .box_1 h1,
.staff .box_2 h1,
.staff .box_3 h1,
.staff .box_4 h1 {
    text-align: center;
    color: white;
    margin-bottom: 70px;
}

.staff .container_box {
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-content: space-between;
}

.staff .container_box .card-box {
    display: flex;
    gap: 20px;
    text-align: left;
    width: 500px;
    height: 250px;
    background-color: rgb(49, 49, 49);
    margin-bottom: 70px;
}

.staff .container_box .card-box .box-image {
    width: 250px;
    height: 100%;
    overflow: hidden;
}

.staff .container_box .card-box .box-image img {
    width: 100%;
}

.staff .container_box .card-box .box-body {
    width: 200px;
    height: 100%;
    padding-top: 20px;
    text-align: left !important;
}

.staff .container_box .card-box .box-body i {
    color: rgb(0, 110, 255);
    color: rgb(255, 0, 0) !important;
    font-size: 20px;
}

.staff .container_box .card-box .box-body span {
    display: inline-block;
    color: rgb(0, 110, 255);
    color: rgb(255, 0, 0);
    font-size: 18px;
    margin-right: 15px;
}

.staff .container_box .card-box .box-body p {
    color: white;
    font-size: 18px;
    letter-spacing: .5px;
    word-spacing: 1.5px;
}

.staff .container_box .card-box .box-body a {
    cursor: pointer;
    font-size: 2rem;
    margin-left: .5rem;
    height: 4rem;
    width: 4rem;
    border-radius: 5px;
    line-height: 4rem;
    text-align: center;
    text-decoration: none;
    transition: all .2s;
    color: #fff;
    margin-left: 5px;
    background-color: rgb(0, 110, 255);
}

.staff .container_box .card-box .box-body a:hover {
    background: #eee;
    color: rgb(0, 110, 255);
}

@media screen and (max-width: 1750px) and (min-width: 1450px) {

    .container_box.one,
    .container_box.three {
        gap: 30px;
    }

}

/* @media screen and (max-width: 1780px) {
    .staff .container_box.three div .card-box {
        display: flex;
        gap: 20px;
        text-align: left;
        width: 400px;
        height: 220px;
        background-color: rgb(49, 49, 49);
    }
    .staff .container_box.three div .card-box .box-image {
        width: 200px;
        height: 100%;
        overflow: hidden;
    }
    .staff .container_box.three div .card-box .box-body {
        width: 200px;
        height: 100%;
        padding-top: 20px;
    }
}

@media screen and (max-width: 1435px) and (min-width: 1200px) {
    .staff .container_box.three div .card-box {
        display: flex;
        gap: 10px;
        text-align: left;
        width: 340px;
        height: 220px;
        background-color: rgb(49, 49, 49);
    }
    .staff .container_box.three div .card-box .box-image {
        width: 200px;
        height: 100%;
        overflow: hidden;
    }
    .staff .container_box.three div .card-box .box-body {
        width: 200px;
        height: 100%;
        padding-top: 20px;
    }
    .staff .container_box.three div .card-box .box-body a {
        font-size: 1.5rem;
        margin-left: 0;
        height: 3.2rem;
        width: 3.2rem;
        border-radius: 5px;
        line-height: 3.2rem;
        margin-left: 5px;
    }
    .staff .container_box.three div .card-box .box-body p {
        font-size: 16px !important;
    }
    .staff .container_box.three div .card-box .box-body span {
        font-size: 16px !important;
    }
} */

@media screen and (max-width: 1300px) {
    .staff {
        padding: 0 70px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 990px) {
    .staff .container_box .card-box .box-body a {
        font-size: 1.7rem;
        margin-left: 0;
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 5px;
        line-height: 3.5rem;
        margin-left: 5px;
    }

    .staff {
        padding: 0 40px;
    }

    .staff .container_box .card-box {
        display: flex;
        gap: 20px;
        text-align: left;
        width: 430px;
        height: 250px;
    }
}



@media screen and (max-width: 990px) {
    .staff {
        padding: 0 80px;
    }
}

@media screen and (max-width: 870px) {
    .staff {
        padding: 0 40px;
    }
}

@media screen and (max-width: 990px) and (min-width: 768px) {
    .staff .container_box .card-box {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        width: 300px;
        height: 400px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .staff .container_box .card-box .box-image {
        overflow: hidden;
        height: 250px;
        width: 100%;
    }

    .staff .container_box .card-box .box-body {
        padding-top: 0;
        padding-bottom: 20px;
        padding-left: 20px;
        width: 100%;
        height: 150px;
        text-align: left !important;
    }
}

@media screen and (max-width: 767px) {
    .staff {
        padding: 0 15px;
    }

    .staff .container_box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .staff .container_box>* {
        flex: 1 100%;
    }

    .staff .container_box div .card-box {
        gap: 20px;
        overflow: hidden;
        width: 470px;
        height: auto;
        height: 220px;
    }

    .staff .container_box div .card-box .box-image {
        width: 50% !important;
        height: 100%;
    }

    .staff .container_box div .card-box .box-body {
        width: 50% !important;
        height: 100%;
        color: black;
        text-align: left !important;
    }

    .staff .container_box div .card-box .box-body span {
        margin-right: 15px !important;
    }

    .staff .container_box .card-box .box-body a {
        font-size: 1.5rem;
        margin-left: 0;
        height: 3.2rem;
        width: 3.2rem;
        border-radius: 5px;
        line-height: 3.2rem;
        margin-left: 5px;
    }

    .staff .container_box .card-box .box-body p {
        font-size: 16px !important;
    }

    .staff .container_box .card-box .box-body span {
        font-size: 16px !important;
    }
}

@media screen and (max-width: 500px) {
    .staff {
        padding: 0 15px;
    }

    .staff .container_box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .staff .container_box>* {
        flex: 1 100%;
    }

    .staff .container_box div .card-box {
        gap: 10px;
        overflow: hidden;
        width: 340px;
        height: auto;
        height: 170px;
    }

    .staff .container_box div .card-box .box-image {
        width: 45% !important;
        height: 100%;
    }

    .staff .container_box div .card-box .box-body {
        width: 55% !important;
        height: 100%;
        color: black;
        text-align: left !important;
    }

    .staff .container_box div .card-box .box-body span {
        margin-right: 15px !important;
    }

    .staff .container_box .card-box .box-body a {
        font-size: 1.5rem;
        margin-left: 0;
        height: 3.2rem;
        width: 3.2rem;
        border-radius: 5px;
        line-height: 3.2rem;
        margin-left: 5px;
    }

    .staff .container_box .card-box .box-body p {
        font-size: 16px !important;
    }

    .staff .container_box .card-box .box-body span {
        font-size: 16px !important;
    }
}

@media screen and (max-width: 370px) {
    .staff .container_box div .card-box {
        gap: 10px;
        overflow: hidden;
        width: 310px;
        height: auto;
        height: 160px;
    }

    .box_2 h1 {
        font-size: 30px;
    }
}


/*=============x============ bord of directors =============x============*/


/*========================= Our Team =========================*/

.staff .container_box.two {
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
}

.staff .container_box.two>* {
    flex: 1 33%;
}

.container_box.two div {
    display: flex;
    justify-content: center;
    text-align: center !important;
}

.staff .container_box.two div .card-box {
    display: flex !important;
    gap: 20px;
    text-align: left;
    width: 100%;
    width: 400px;
    height: 200px;
    background-color: rgb(49, 49, 49);
    margin-bottom: 70px;
}

.staff .container_box.two div .card-box .box-image {
    display: block;
    width: 200px;
    height: 100%;
    overflow: hidden;
}

.staff .container_box.two div .card-box .box-image img {
    width: 100%;
}

.staff .container_box.two div .card-box .box-body {
    display: block;
    width: 200px;
    height: 100%;
    padding-top: 20px;
    padding-right: 7px;
    text-align: left !important;
}

.staff .container_box.two div .card-box .box-body i {
    color: rgb(0, 110, 255);
    font-size: 20px;
}

.staff .container_box.two div .card-box .box-body span {
    display: inline-block;
    color: rgb(0, 110, 255);
    color: rgb(255, 0, 0);
    font-size: 18px;
    margin-right: 15px;
}

.staff .container_box.two div .card-box .box-body p {
    color: white;
    font-size: 18px;
    letter-spacing: .5px;
    word-spacing: 1.5px;
}

.staff .container_box.two div .card-box .box-body a {
    cursor: pointer;
    font-size: 2rem;
    margin-left: .5rem;
    height: 4rem;
    width: 4rem;
    border-radius: 5px;
    line-height: 4rem;
    text-align: center;
    text-decoration: none;
    transition: all .2s;
    color: #fff;
    margin-left: 5px;
    background-color: rgb(0, 110, 255);
}

.staff .container_box.two div .card-box .box-body a:hover {
    background: #eee;
    color: rgb(0, 110, 255);
}


/* @media screen and (max-width: 1700px) {
    .staff .container_box.two div .card-box {
        display: flex;
        gap: 20px;
        text-align: left;
        width: 400px;
        height: 220px;
        background-color: rgb(49, 49, 49);
    }
    .staff .container_box.two div .card-box .box-image {
        width: 200px;
        height: 100%;
        overflow: hidden;
    }
    .staff .container_box.two div .card-box .box-body {
        width: 200px;
        height: 100%;
        padding-top: 20px;
    }
} */

@media screen and (max-width: 1470px) and (min-width: 1200px) {
    .staff .container_box.two div .card-box {
        display: flex;
        gap: 10px;
        text-align: left;
        width: 340px;
        height: 220px;
        background-color: rgb(49, 49, 49);
    }

    .staff .container_box.two div .card-box .box-image {
        width: 200px;
        height: 100%;
        overflow: hidden;
    }

    .staff .container_box.two div .card-box .box-body {
        width: 200px;
        height: 100%;
        padding-top: 20px;
        text-align: left !important;
    }

    .staff .container_box.two div .card-box .box-body a {
        font-size: 1.5rem;
        margin-left: 0;
        height: 3.2rem;
        width: 3.2rem;
        border-radius: 5px;
        line-height: 3.2rem;
        margin-left: 5px;
    }

    .staff .container_box.two div .card-box .box-body p {
        font-size: 16px !important;
    }

    .staff .container_box.two div .card-box .box-body span {
        font-size: 16px !important;
    }
}

@media screen and (max-width: 1200px) and (min-width: 990px) {
    .staff .container_box.two div .card-box {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        width: 250px;
        height: 350px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .staff .container_box.two div .card-box .box-image {
        overflow: hidden;
        height: 200px;
        width: 100%;
    }

    .staff .container_box.two div .card-box .box-body {
        padding-bottom: 20px;
        padding-left: 20px;
        width: 100%;
        height: 150px;
        padding: 0 10px;
        text-align: left !important;
    }
}

@media screen and (max-width: 990px) and (min-width: 768px) {
    .staff .container_box.two div .card-box {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        width: 300px;
        height: 400px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        margin-bottom: 70px;
    }

    .staff .container_box.two div .card-box .box-image {
        overflow: hidden;
        height: 250px;
        width: 100%;
    }

    .staff .container_box.two div .card-box .box-body {
        padding-top: 0;
        padding-bottom: 20px;
        padding-left: 20px;
        width: 100%;
        height: 150px;
        text-align: left !important;
    }
}

@media screen and (max-width: 767px) {
    .staff {
        padding: 0 15px;
    }

    .staff .container_box.two div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 70px;
        justify-content: center;
        align-items: center;
        text-align: center !important;
    }

    .staff .container_box.two>* {
        flex: 1 100%;
    }

    .staff .container_box.two div .card-box {
        gap: 20px;
        overflow: hidden;
        width: 470px;
        height: auto;
        height: 220px;
    }

    .staff .container_box.two div .card-box .box-image {
        width: 50% !important;
        height: 100%;
    }

    .staff .container_box.two div .card-box .box-body {
        width: 50% !important;
        height: 100%;
        color: black;
        text-align: left !important;
    }

    .staff .container_box.two div .card-box .box-body span {
        margin-right: 15px !important;
    }

    .staff .container_box.two div .card-box .box-body a {
        font-size: 1.5rem;
        margin-left: 0;
        height: 3.2rem;
        width: 3.2rem;
        border-radius: 5px;
        line-height: 3.2rem;
        margin-left: 5px;
    }

    .staff .container_box.two div .card-box .box-body p {
        font-size: 16px !important;
    }

    .staff .container_box.two div .card-box .box-body span {
        font-size: 16px !important;
    }
}

@media screen and (max-width: 500px) {
    .staff {
        padding: 0 15px;
    }

    .staff .container_box.two {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .staff .container_box.two>* {
        flex: 1 100%;
    }

    .staff .container_box.two div .card-box {
        gap: 10px;
        overflow: hidden;
        width: 340px;
        height: auto;
        height: 170px;
    }

    .staff .container_box.two div .card-box .box-image {
        width: 45% !important;
        height: 100%;
    }

    .staff .container_box.two div .card-box .box-body {
        width: 55% !important;
        height: 100%;
        color: black;
        text-align: left !important;
    }

    .staff .container_box.two div .card-box .box-body span {
        margin-right: 15px !important;
    }

    .staff .container_box.two .card-box .box-body a {
        font-size: 1.5rem;
        margin-left: 0;
        height: 3.2rem;
        width: 3.2rem;
        border-radius: 5px;
        line-height: 3.2rem;
        margin-left: 5px;
    }

    .staff .container_box.two .card-box .box-body p {
        font-size: 16px !important;
    }

    .staff .container_box.two .card-box .box-body span {
        font-size: 16px !important;
    }

    .staff .container_box.two div .card-box .box-body {
        padding-top: 10px;
        text-align: left !important;
    }
}

@media screen and (max-width: 370px) {
    .staff .container_box.two div .card-box {
        gap: 10px;
        overflow: hidden;
        width: 310px;
        height: auto;
        height: 160px;
    }

    .staff .container_box.two div .card-box .box-body {
        padding-top: 10px;
    }

    .staff .container_box.two div .card-box .box-body p {
        font-size: 15px !important;
    }
}

/*=============x============ Our Team =============x============*/

/* ================================ ACCOLADES ============================== */
.staff .container_box.four .card-box {
    display: flex;
    gap: 0px;
    flex-wrap: wrap;
    padding-bottom: 10px;
    width: 330px;
    height: 350px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 20px;
    background-color: transparent;
}

.staff .container_box.four>* {
    flex: 1 33%;
}

.container_box.four div {
    display: flex;
    justify-content: center;
    text-align: center !important;
}

.staff .container_box.four .card-box .box-image {
    overflow: hidden;
    height: 70%;
    text-align: center;
    width: 100%;
    display: block !important;
}

.staff .container_box.four .card-box .box-body {
    padding: 0 10px;
    width: 100%;
    height: 30%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: left !important;
}

.staff .container_box.four .card-box .box-body p span {
    color: white;
    font-size: 16px;
}

.staff .container_box.four .card-box .box-body img {
    width: 25%;
}

.container_box.four .box-image img {
    width: 40%;
}

@media screen and (max-width: 1750px) and (min-width: 1450px) {

    .container_box.four {
        gap: 0px;
    }

}

@media screen and (max-width: 1150px) {

    .staff .container_box.four>* {
        flex: 1 50%;
    }

}

@media screen and (max-width: 767px) {
    .staff .container_box.four .card-box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column !important;
        width: 450px !important;
        height: 450px !important;
    }

    .staff .container_box.four>* {
        flex: 1 100% !important;
    }

    .staff .container_box.four .card-box .box-image {
        overflow: hidden;
        height: 70% !important;
        text-align: center;
        width: 100% !important;
        display: block !important;
    }

    .staff .container_box.four .card-box .box-body {
        padding: 0 10px;
        width: 100% !important;
        height: 30%;
        display: flex !important;
        align-items: center;
        justify-content: center;
        gap: 10px !important;
        text-align: left !important;
    }
}

@media screen and (max-width: 500px) {
    .staff .container_box.four .card-box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column !important;
        width: 340px !important;
        height: 350px !important;
    }

    .staff .container_box.four>* {
        flex: 1 100% !important;
    }

    .staff .container_box.four .card-box .box-image {
        overflow: hidden;
        height: 70% !important;
        text-align: center;
        width: 100% !important;
        display: block !important;
    }

    .staff .container_box.four .card-box .box-body {
        padding: 0 10px;
        width: 100% !important;
        height: 30%;
        display: flex !important;
        align-items: center;
        justify-content: center;
        gap: 10px !important;
        text-align: left !important;
    }
}

@media screen and (max-width: 370px) {
    .staff .container_box.four .card-box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column !important;
        width: 310px !important;
        height: 310px !important;
    }

    .staff .container_box.four div .card-box .box-body p span {
        font-size: 15px !important;
    }
}

/* ================x================ ACCOLADES ================x============== */
/* ================================ SATISFACTORY LETTERS ============================== */

.container_box.five{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container_box.five>*{
    flex: 1 50%;
}
.container_box.five div{
    text-align: center !important;
}
.container_box.five .card-box{
    display: block !important;
    background-color: transparent;
    height: 100% !important;
    width: 100% !important;
}
.container_box.five .card-box img{
    width: 90%;
    max-width: 450px;
}

/* =================x================ SATISFACTORY LETTERS ===============x================ */


/* ================================= global media query =============================== */
@media screen and (min-width: 1200px) {


    .staff .container_box.three div .card-box,
    .staff .container_box.two div .card-box,
    .staff .container_box.one div .card-box {
        margin-bottom: 150px;
    }
}
/* =================x================ global media query ===============x================ */
